body{
    background-color: #4772eb;
    font-family: "Arial";
}

#boton{
    padding: 5px;
    width: auto;
    border-color: #7d6ef7;
    border-radius: 5px;
}

#login{
    background-color: #75c3f0;
    border-radius: 5px;
    align-items: stretch;
    padding: 20px;
    width: 200px;

}

#loginfallido{
    background-color: #75c3f0;
    border-radius: 5px;
    align-items: stretch;
    padding: 20px;
    width: 200px;
    margin: 5px;
}

#footer{
    background-color: #7595f0;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

#section{
    background-color: #7595f0;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

#contenido{
    background-color: #aca3f5;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;

}

#buscar{
    background-color: #8375f0;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    text-align: center;

}




#servicio{
    background-color: #8375f0;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    margin: 20px;
}

#servicio #alerta{
    background-color: #fdff94;
    padding: 10px;
    border-radius: 5px;
    
}

#servicio #bien{
    background-color: #c9ff94;
    padding: 10px;
    border-radius: 5px;
    
}

#nav{
    margin: 5px;
    background-color: #8375f0;
    border-radius: 5px;
    padding: 10px;
}

#nav ul li{
    list-style: none;
    display: inline-block;
}

#nav ul li a{
    text-decoration: none;
    color: #6300cc;
    font-weight: bold;
    padding: 20px;
}

#nav ul li a:hover{
    background-color: #973df5;
    border-radius: 6px;
}

#header center{
    
    background-color: #8375f0;
    color: #6300cc;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
}

#titulo_usuario center{
    
    background-color: #5f99f5;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

#tabla{
    margin: 20px;
    background-color: #8375f0;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    
}


